<p id="notice"><%= notice %></p>

<h1>Listing Wishes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th>User</th> -->
      <th>Publication</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishes.each do |wish| %>
      <tr>
        <!-- <td><%= wish.user.name %></td> -->
        <td><%= wish.publication.title %></td>
        <td><%= link_to 'Show', wish %></td>
        <td><%= link_to 'Edit', edit_wish_path(wish) %></td>
        <td><%= link_to 'Destroy', wish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wish', new_wish_path %>
