<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>User:</strong>
  <%= @wish.user %>
</p> -->

<p>
  <h3>Publication</h3>
  <p><strong>Isbn: </strong>
  <%= @wish.publication.isbn %></p>
  <p><strong>Title: </strong>
  <%= @wish.publication.title %></p>
  <p><strong>Author: </strong>
  <%= @wish.publication.author %></p>
  <p><strong>Year: </strong>
  <%= @wish.publication.year %></p>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
