<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select(:type, options_for_select([['Physical','physical'],['Electronic','electronic']], 'physical')) %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.select(:available, options_for_select([['Yes','yes'],['No','no']], 'yes')) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
