<p id="notice"><%= notice %></p>

<h1>Listing Publications</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Type</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.isbn %></td>
        <td><%= publication.title %></td>
        <td><%= publication.author %></td>
        <td><%= publication.year %></td>
        <td><%= publication.type %></td>
        <td><%= publication.available %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
