<br>
<br>
 <div class="row">
 	<div class="col-md-4"></div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img id="profile-img" class="img-circle" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      
      <div class="caption" style="text-align: center">
    	<%= form_tag("/login", method: "post") do %>
		<div class="field">
			<%= label_tag :username %>
			<%= text_field_tag :username, params[:username] %>
		</div>
		
		<div class="field">
			<%= label_tag :password %>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div class="actions"><%= submit_tag "Log in" %></div>
		<% end %>    
      </div>
    </div>
  </div>
</div>  
  

	
