<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <% if session[:role] == 'admin' %>
      <%= f.label :role %><br>
      <%= f.select(:role, options_for_select([['Reader','reader'],['Manager','manager'],['Administrator','admin']], 'reader')) %>  
    <% elsif session[:role] == 'manager' %>
        <%= f.label :role %><br>
        <%= f.text_field :role, :value => 'reader',:readonly => true %> 
    <% end %>
    
  </div>
  <!--<div class="field">
    <%= f.label :wishes %><br>
    <%= f.text_field :wishes %>
  </div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
