<p id="notice"><%= notice %></p>

<h1>Welcome to our App!</h1>
<br>
<div class="row">
  <div class="col-md-6">
      <%= link_to(image_tag("welcome.jpg", :alt => "home image", :width => 575, :height => 455, :title => "Users"), users_path) %>
  </div>
  <div class="col-md-6">
      
      <div class="row">
          <div class="col-md-1">
              <br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><a href="signup" class="btn btn-lg btn-success" style="text-align: center"><span class="glyphicon glyphicon-log-in"></span> Sign up now!</a> </div>
          <div class="col-md-4"></div>
        </div>
      
      </div>
</div>