<p id="notice"><%= notice %></p>

  <div class="jumbotron">
    <h1>Welcome <%= session[:user] %> </h1>      
    <p>In your manager menu you can manage loans, readers and publications. Enjoy the app!</p>
  </div>

<!-- <%= link_to(image_tag("icons/T-Shirt.png", :alt => "home image", :width => 100, :height => 100, :title => "Readers"), users_path) %>

<%= link_to(image_tag("icons/Document.png", :alt => "home image", :width => 100, :height => 100, :title => "Publications"), publications_path) %>

<%= link_to(image_tag("icons/Shopping.png", :alt => "home image", :width => 100, :height => 100, :title => "Loans"), loans_path) %> -->

 <div class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <%= link_to(image_tag("icons/T-Shirt.png", :alt => "home image", :width => 100, :height => 100, :title => "Readers"), users_path) %>
      <div class="caption" style="text-align: center">
        <h4><%= link_to "Users", users_path %></h4>
        <!--<p>Create, update, read and delete users.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
 
  <div class="col-md-2">
    <div class="thumbnail">
      <%= link_to(image_tag("icons/Document.png", :alt => "home image", :width => 100, :height => 100, :title => "Publications"), publications_path) %>
      <div class="caption" style="text-align: center">
        <h4><%= link_to "Publications", publications_path %></h4>
        <!--<p>Create, update, read and delete users.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="thumbnail">
     <%= link_to(image_tag("icons/Shopping.png", :alt => "home image", :width => 100, :height => 100, :title => "Loans"), loans_path) %>
      <div class="caption" style="text-align: center">
        <h4><%= link_to "Loans", loans_path %></h4>
        <!--<p>Create, update, read and delete users.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
</div>