<h1>Book Return</h1>

<!-- <%= render 'form' %> -->

<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= @loan.user.name %>
    <!-- <%= f.collection_select(:user_id, User.all, :id, :name) %> -->
  </div>
  <div class="field">
    <%= f.label :publication_id %><br>
    <%= @loan.publication.title %>
    <!-- <%= f.collection_select(:publication_id, Publication.all, :id, :title) %> -->
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date ,{disabled: true, :order => [:day, :month, :year]} %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date ,{disabled: false, :order => [:day, :month, :year]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @loan %> |
<%= link_to 'Back', loans_path %>