<p id="notice"><%= notice %></p>

<h1>Listing Loans</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Publication</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.user.name %></td>
        <td><%= loan.publication.title %></td>
        <td><%= loan.start_date.to_formatted_s(:rfc822) %></td>
        <td><%= loan.end_date.to_formatted_s(:rfc822) %></td>
        <td><%= link_to 'Show', loan %></td>

        <% if session[:role] == 'admin' or session[:role] == 'manager' %>
            <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
            <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Return Book', loans_return_path(loan) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:role] == 'admin' or session[:role] == 'manager' %>
<%= link_to 'New Loan', new_loan_path %>
<% end %>