<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @loan.user.name %>
</p>

<p>
  <strong>Publication:</strong>
</p>
<p>
  Isbn: 
  <%= @loan.publication.isbn %>
</p>
<p>
  Title:
  <%= @loan.publication.title %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @loan.start_date.to_formatted_s(:rfc822) %>
</p>

<p>
  <strong>End date:</strong>
  <%= @loan.end_date.to_formatted_s(:rfc822) %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
