<html>
<head>
  <title><%= 'Library' %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

	
	<header class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Library", '/', id: "logo" %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !session[:user] %>
              <li><%= link_to "Sign Up", '/signup' %></li>
              <li><%= link_to "Log in", '/login' %></li>
            <% else %>
              <li><%= link_to "Log out", '/logout' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
      
      <!-- Nav new -->
      
    </header>
    


	<div class="container">
  	  <% flash.each do |key, value| %>
  	      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  	  <% end %>
  	  <%= yield %>
  </div>


<!-- footer  -->
<div id="footer">
<div class="container">
  <div class="row">
    
      <div class="col-sm-3">
        <div class="foot-header">
          Web Development <img src="http://200.27.156.170/ean_default/img/cocha/icon-cocha.png">
        </div>
        <div class="foot-links">
          <a href="http://campusvirtual.uclm.es">Campus Virtual</a>
        </div>
      </div><!--/col-sm-3-->
    <div class="col-sm-3">
      <div class="foot-header"> About Us <img src="http://200.27.156.170/ean_default/img/cocha/servicio-al-cliente-icon.png"></div>
      <div class="foot-links">
        <a href="desarrolloweb2015.esy.es">Ana & Bibi</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="foot-header">
        Help
      </div>
      <div class="foot-links">
        
      </div>
    </div><!--/col-sm-3-->
    <div class="col-sm-3">
      
    </div>
    
    </div><!--/row-->
  <div class="row">
    <center><img src="http://200.27.156.170/ean_default/img/cocha/footer-bg.png"></center>
    <div id="bottom-footer">
      <div class="row">
        <div class="col-md-8">
          <a><%= link_to "Home", "/" %></a>
        </div>
        
    </div>
    </div><!--/row 2-->
      <div class="row" id="final-footer">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 text-center">
          Copyright © 2015 ESI. All Rights Reserved Ana & Bibi
        </div>
        <div class="col-sm-4 text-right">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle text-primary fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle text-info fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle text-danger fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </div>
      </div>
  </div><!--/container-->
</div><!--/footer--></div>

<div id="push"></div>

</body>
</html>